.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* html css */

body {
  font-family: "Montserrat", sans-serif;
}


/* Navbar */

nav {
  background: #FA5CA1;
  height: 70px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 180px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* a.active,
a:hover {
  background: #FA5CA1;
  transition: .5s;
} */

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
      font-size: 30px;
      padding-left: 50px;
  }

  nav ul li a {
      font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
      display: block;
  }

  ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }

  nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }

  nav ul li a {
      font-size: 20px;
  }

  /* a:hover,
  a.active {
      background: none;
      color: #FA5CA1;
  } */

  #check:checked~ul {
      left: 0;
  }
}

.anch {
  text-decoration: none;
  color: #fff;
}

.nav-con{
  font-weight: 600;
}

/* close navbar */


/* Loginform */

.sign-color{
  background-color: #FA5CA1;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 6px;
}




/* close loginform */


/* registerform */

.bout-reg{
  text-align: center;
  font-weight: 600;
  font-size: 29px;
  color: #FA5CA1;
}


.fashion-meet{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

/* close registerform */


.productt-sect{
  margin-top: 35px;
  margin-bottom: 50px;
}

.boys-cate-button{
  padding: 2px 21px;
  color: #000000;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 5px;
  background-color: #E4E4E4;
}

.girls-cate-button{
  padding: 2px 21px;
  color: #000000;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 5px;
  background-color: #E4E4E4;
  
}
.girls-cate-button :hover{
color:#fa5ca1 ;
}

.boys-cate-button :hover{
color:#fa5ca1 ;
}


.boys-cate-button.active {
  background-color: #fa5ca1; 
  color: #ffffff;
}

.girls-cate-button.active {
  background-color: #fa5ca1; 
  color: #ffffff;

}


.half-sle {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Mier book";
  margin: 0px;
  padding: 0px;
}

.material {
  color: #6C6C6C;
  font-size: 12px;
  margin: 10px 0px;
}

.rate {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}   

.col-but{
  margin-bottom: 10px;
}


#canvas {
  border: 1px solid black; 
  width:100%;
  /* height: 250px; */
 }

 .canvas-drwa{
  width: 100%;
  /* height: 200px; */
  border: 1px solid #000000;
 }
 
 .stroke-color {
   border-radius: 50%;
   width: 30px;
   height: 30px;
 }

 .undo-canva{
  border-radius: 5px;
  /* padding: 5px 13px; */
  width: 214px;
  height: 30px;
  border: none;
  margin-right: 25px;
  font-weight: 600;
  font-size: 16px;
  background-color: #FA5CA1;
  color: #fff;
  margin-top: 20px;
 }

 .clear-canva{
  border-radius: 5px;
  /* padding: 5px 13px; */
  width: 214px;
  height: 30px;
  border: none;
  margin-right: 25px;
  font-weight: 600;
  font-size: 16px;
  background-color: #FA5CA1;
  color: #fff;
  margin-top: 20px;

 }

 .sign-color :hover{
  background-color: #FA5CA1;
 }

 /* .login-backimg{
  background-image: url(./login-back.jpeg);
  max-width: 100%;
  height: 100%;
 } */

 .detat-sleeve{
  margin-top: 25px;
  font-size: 28px;
  font-weight: 600;
 }



 /* productdetails */

 .lab-size{
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  width: 150px;
  padding: 2px 10px;
  border-radius: 5px;
}

.sizee{
  width: 150px;
  padding: 2px 10px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 11px;
}

/* quantity */

.quantity-field {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 120px; 
  height: 40px;
  /* margin: 0 auto;       */
}

.quantity-field .value-button{ 
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;   
  padding: 0;
  background: #eee; 
  outline: none;
  cursor: pointer;
}

.quantity-field .value-button:hover {
  background: rgb(230, 230, 230);
}

.quantity-field .value-button:active{
  background: rgb(210, 210, 210);
}

.quantity-field .decrease-button {
  margin-right: -4px;
  /* border-radius: 8px 0 0 8px; */
}

.quantity-field .increase-button {
  margin-left: -4px;
  /* border-radius: 0 8px 8px 0; */
}
 
.quantity-field .number{
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box; 
  background: white;
  font-family: calibri;
}

.quantity-field .number::selection{
  background: none;
}
/* finish quantity */

input[type='radio']#blue:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: 0px;
    position: relative;
    background-color: #498DD9;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.input-col{
  margin: 0px 15px 15px 0px;
  position: relative;
  left: 10px;
  top: 5px;
}

.priec{
  font-weight: 500;
    text-align: left;
}

.content-sub{
  position: relative;
    left: 0;
    margin: 30px 0px 30px;
    bottom: 0;
    display: none;
}
.buynow{
  background: #FA5CA1;
    color: #fff;
    margin: 0px 20px 0px 0px;
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 500;
    float: left;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #FA5CA1;
}

.cartt{
  background: #FA5CA1;
    color: #fff;
    margin: 0px 20px 0px 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    float: left;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #FA5CA1;
}
.prot-det{
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}
.pro-det{
  border: 1px solid #d4c0c0;
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
}


.product-detl-row{
  border: 1px solid #cdcccc;
  height: 100%;
  border-radius: 29px;
  padding-bottom: 50px;
}

.scrollable-row {
  max-height: 1000px; /* Adjust the height as needed */
  overflow-y: auto;
}

.orders-sec{
  padding: 20px 0px;
  border: 1px solid #e8d1d1;
}

.orders-section{
  margin: 50px 0px;
}

.product-over{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-left: 33px;

}

.total-pending{
  list-style-type: none;
}

.return-pen{
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.product-num{
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #FA5CA1;
}

.monthly-order{
  margin-top: 30px;
}

.order-try{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.btn-tab-style{
  font-size: 15px;
    font-weight: 500;
    background-color: #E4E4E4 !important;
    color: #000 !important;
    /* padding: 0px 30px; */
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    height: 32px;
    width: 120px;
}

.btn-tab-style.active {
  font-size: 15px;
  font-weight: 500;
  background-color: #FA5CA1 !important;
  color: #ffffff !important;
  /* padding: 0px 30px; */
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  height: 32px;
  width: 120px;
}

.hakoba{
  font-size: 20px;
  color: #000000;
  font-weight: 600;
}

.col-sle-nec{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.order-colr{
  font-size: 16px;
  color: #6E6E6E;
  font-weight:600 ;
}

.stat-pen{
  color: #EB8500;
    font-weight: 600;
}

.order-place{
  border: 1px solid #000;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.user-to{
  display: flex;
}

.dashboard-sect{
  padding-top: 30px;
}

.totaluser{
  /* position: relative; */
  /* top: 13px; */
  height: 70px;
  width: 70px;
}

.lougudr{
  border: 1px solid;
    padding: 20px;
    border-radius: 13px;
    margin-right: 10px;
}

.toter{
  font-weight: 600;
  color: #000000;
}

.tot-num{
  font-weight: 700;
  color: #FA5CA1;
}

.cent-design{
  margin-top: 30px;
}

.re-cen-design{
  display: flex;
  justify-content: space-between;
}

.all-se{
  color: #FA5CA1;
  font-weight: 700;
  font-size: 16px;
}

.design-lla{
  border: 1px solid black;
    padding: 20px;
    border-radius: 13px;
    margin-right: 30px;
}

.profile-redesi{
  display: flex;

}

.nam-design{
  margin-left: 20px;
}

.kalai-name{
  font-size: 20px;
  font-weight: 500;
}

.desi-rol{
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 500;
position: relative;
bottom: 7px;
}

.recent-design{
  font-weight: 700;
  margin-bottom: 10px;
}

.ord-up{
  margin: 20px;
  font-weight: 800;
  
}

.tabiac{
  margin: 30px 0px;
}

.sel-home-cate{
  margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.card-img-top{
  width: 209px;
  height: 232px;
}

.dr-se{
  margin-top: 50px;
}

.tex-idea{
  border: 1px solid #000000;
  border-radius: 10px;
  color: #212529;
  width: 100%;
}

.submit-custom-dessign{
  border-radius: 5px;
    width: 214px;
    height: 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #FA5CA1;
    color: #fff;
    margin-top: 8px;
    float: right;
}

.register-back-img{
  background-image: url(./Images/register-back-img.jpeg);
}

.login-back-img{
  background-image: url(./Images/register-back-img.jpeg);
  height: 585px;
  
}

.content-subb{
display: flex;
justify-content: space-evenly;
margin-top: 45px;
}

.pro-view-sec{
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-view-image{
  width: 412px;
  height: 412px;
}

.produc-nam-vie{
  color: rgb(139, 139, 163);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
}

.aadingg-product{
text-align: end;

}

.ad-producct{
  background-color: #ffffff;
  border: none;
  color: #FA5CA1;
  font-weight: 700;
}

.duct-add{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000  ;
}

.inp-add-prdut{
  width: 100%;
    border: 1px solid #FA5CA1;
    margin-bottom: 25px;
    color: #000000;
    padding: 5px 10px;
}

::placeholder{
  color: #FA5CA1;
}

.product-submit{
  border: none;
    color: #ffffff;
    background-color: #FA5CA1;
    width: 103px;
    height: 36px;
    font-weight: 600;
    border-radius: 10px;
}